<div class="col-xs-4 text-left">
    <img src="assets/img/icons/iOSsignal.svg" alt="" class="ios-signal">
</div>
<div class="col-xs-4 text-center">
    <img src="assets/img/icons/iOStime.svg" alt="">
</div>
<div class="col-xs-4 text-right">
    <img src="assets/img/icons/iOSbattery.svg" alt="" class="ios-battery">
</div>
