<div id="container">
    <div id="main">
        <div class="row">
            <div class="header">
                <div class="container">
                    <a href="/adminDashboard">
                        <div class="col-xs-2 cancel-ctrl">Cancel</div>
                    </a>
                    <div class="col-xs-8 text-center page-title">
                       <h2>Add Event</h2>
                    </div>
                    <!--<div class="col-xs-2 text-right bubble-ctrl icon-bubble"></div>-->
                </div>
            </div>
        </div>

        <div class="row event-spacer-row"></div>


        <style>
            .header {
            height: 65px;
            background-color: #47C3C3;
            color: white;
        }

                .event-spacer-row {
                    margin-bottom: 100px;
            }



        </style>



<form id="addevent" name="addevent" method="post" action="/addevent">
    <!--<label for="event_type">Event Type</label>-->
    <!--<input class="text" name="event_type" type="text"/> <br>-->
    <label for="notes">Any notes</label>
    <input name="notes" type="text"/> <br>
    <label for="img_link">Link to Image</label>
    <input name="img_link" type="text"/> <br>

    <input class="btn" type="submit" value="Add"/>
</form>