<div id="container">
    <div id="main">

        <div class="row relative">
            {{! {{> iOSstatusbar }}
            <div class="header">
                <div class="container page-title-bar nostatus">
                    <a href="javascript:history.back()">
                        <div class="col-xs-2 back-ctrl icon-arrow-left"></div>
                    </a>
                    <div class="col-xs-8 text-center page-title">
                        Add Event Form
                    </div>
                </div>
            </div>


            <form id="addevent" name="addevent" method="post" action="/addevent">

                <div class="container container-bump">
                    <div class="row">
                        <div class="container">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                                <div class="text-center">
                                    <h2><i class="fa fa-paw"></i> Wagr</h2>
                                    <h4>Tell our owners how much fun their loved ones are having.</h4>

                                    <hr>
                                </div>

                                <div class="form-group">
                                    <label for="notes">Event Notes</label>
                                    <input name="notes" id="inputNotes" type="text" class="form-control"/> <br>
                                </div>

                                <div class="form-group">
                                    <label for="img_link">Link to Image</label>
                                    <input name="img_link" id="img_link" type="text" class="form-control"/> <br>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<div class="footer text-center">
    <p class="footer-userform" id="addEventFormSubmit">SUBMIT</p>
</div>





