<div class="container">
    <h1>Add Event</h1>
    <h3>Yay</h3>
</div>

<form id="addevent" name="addevent" method="post" action="/addevent">
    <!--<label for="event_type">Event Type</label>-->
    <!--<input class="text" name="event_type" type="text"/> <br>-->
    <label for="notes">Any notes</label>
    <input name="notes" type="text"/> <br>
    <label for="img_link">Link to Image</label>
    <input name="img_link" type="text"/> <br>

    <input class="btn" type="submit" value="Add"/>
</form>