<div id="container">
    <div id="main">

        <div class="row">
            {{! {{> iOSstatusbar }}
            <div class="header">
                <div class="container page-title-bar nostatus">
                    <a href="javascript:history.back()">
                        <div class="col-xs-2 back-ctrl icon-arrow-left"></div>
                    </a>
                    <div class="col-xs-8 text-center page-title">
                        Add Pet
                    </div>
                </div>
            </div>

            <form id="addpet" name="addPetForm" method="post" enctype="multipart/form-data" action="/addpet">

                <div class="row hero-bump">
                    <div class="div hero-bg-blank text-center btn-file">
                        <label class="btn-file">
                            <img src="/assets/img/icons/addPhoto.svg" alt="" class="img-circle hero-img">
                            <input name="img_link" type="file" id="inputPetImage">
                        </label>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                                <div class="form-group">
                                    <label for="inputPetName">Pet Name</label>
                                    <input name="pet_name" id="inputPetName" type="text" class="form-control"
                                           placeholder="Fido">
                                </div>

                                <div class="form-group">
                                    <label for="inputPetType">Pet Breed</label>
                                    <input name="pet_type" id="inputPetType" type="text" class="form-control"
                                           placeholder="Dachshund">
                                </div>

                                <div class="form-group">
                                    <label for="inputPetMessage">Anything you would like us to know?</label>
                                    <textarea name="notes" id="inputPetMessage" class="form-control"
                                              rows="3"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="footer text-center">
    <p class="footer-text" id="addPetSubmit">SUBMIT</p>
</div>

