<div class="container">
    <h1>Administrator Dashboard</h1>

    <ul>
        {{#each foobar}}
                <li>
                    {{this.pet_name}}
                </li>
        {{/each}}
    </ul>

    <form id="administrator" name="administrator" method="post" action="administrator">
        <input class="btn" type="submit" value="Add Event"/>
    </form>
</div>