<div class="container">
    <h1>Administrator Dashboard</h1>

    <ul>
        {{#each foobar}}
                <li>
                    {{this.pet_name}}
                </li>
        {{/each}}
    </ul>


</div>