<div class="container">
    <h1>Dashboard</h1>
     
    <h3>Hurray! you are logged in as {{this.email}}</h3>

</div>

<ul>
    {{#each foobar}}
        <li>
            {{this.pet_name}}
        </li>
    {{/each}}
</ul>