<div id="container">
    <div id="main">

        <div class="row">
            <div class="header">
                <div class="container">
                    <div class="col-xs-2 menu-ctrl icon-menu"></div>
                    <div class="col-xs-8 text-center page-title">
                        My Pets
                    </div>
                    <div class="col-xs-2 text-right plus-ctrl icon-plus"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <div class="container mypet-row">
                        <img src="../public/assets/img/dogs/dog2.jpg" alt="" class="img-circle pet-icon">
                        <p class="pet-name">Milo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 ">
                <div class="container">
                    <div class="container mypet-row">
                        <img src="../public/assets/img/dogs/dog9.jpg" alt="" class="img-circle pet-icon">
                        <p class="pet-name">Scout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="">
    <div class="footer text-center ">
        <p class="footer-text">Check in/out</p>
    </div>
</a>