<!-- ==============================================
New Member Forum
=============================================== -->
<section id="contact" class="big-padding light-typo color-overlay">

    <div class="container">

        <h1 class="section-title">New Member Form<span class="contact-info"></span></h1>

        <div class="row">

            <div class="col-sm-6 col-md-5 scrollimation fade-right">

                <p class="lead">Please fill out the required fields and press submit to create your user profile.</p>

            </div>

            <!--=== Contact Form ===-->

            <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left" action="/ownerquestions"
                  method="post" novalidate>

                <div class="form-group">
                    <div class="controls">
                        <input id="first-name" name="first_name" class="form-control requiredField" type="text"
                               data-error-empty="is required">
                        <label class="control-label" for="first-name">First Name</label>
                    </div>
                </div><!-- End first name input -->

                <div class="form-group">
                    <div class="controls">
                        <input id="last-name" name="last_name" class="form-control requiredField" type="text"
                               data-error-empty="is required">
                        <label class="control-label" for="last-name">Last Name</label>
                    </div>
                </div><!-- End last name input -->

                <div class="form-group">
                    <div class="controls">
                        <input id="address" name="address" class="form-control requiredField" type="text"
                               data-error-empty="is required">
                        <label class="control-label" for="address">Address</label>
                    </div>
                </div><!-- End address input -->

                <div class="form-group">
                    <div class="controls">
                        <input id="city" name="city" class="form-control requiredField" type="text"
                               data-error-empty="is required">
                        <label class="control-label" for="city">City</label>
                    </div>
                </div><!-- End city input -->

                <div class="form-group">
                    <div class="controls">
                        <input id="state" name="state" class="form-control requiredField" type="text"
                               data-error-empty="is required">
                        <label class="control-label" for="state">State</label>
                    </div>
                </div><!-- End state input -->

                <div class="form-group">
                    <div class="controls">
                        <input id="zip" name="zip" class="form-control requiredField" type="number"
                               data-error-empty="is required">
                        <label class="control-label" for="zip">Zip Code</label>
                    </div>
                </div><!-- End zip code input -->

                <div class="form-group">
                    <div class="controls">
                        <input id="contact-mail" name="phone" class="form-control requiredField" type="number"
                               data-error-empty="is required" data-error-invalid="is invalid">
                        <label class="control-label" for="contact">Phone</label>
                    </div>
                </div><!-- End phone input -->



                <button name="submit" type="submit" action="/ownerquestions" class="btn">Submit
                </button>
                <input type="hidden" name="submitted" id="submitted" value="add"/>
                <br><br><br>
            </form><!-- End contact-form -->

        </div>

    </div>

</section>
