<div id="container">
    <div id="main">
        <div class="row">
            {{> iOSstatusbar }}
            <div class="header">
                <div class="container">
                    <div class="col-xs-2 cancel-ctrl">Cancel</div>
                    <div class="col-xs-8 text-center page-title">
                        Activities
                    </div>
                    <!--<div class="col-xs-2 text-right bubble-ctrl icon-bubble"></div>-->
                </div>
            </div>
        </div>

        <div class="row activity-spacer-row"></div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Photo">
                        <figure>
                            <img src="assets/img/icons/photo.svg" alt="" id="activity-photo" class="activity-icon">
                            <figcaption>Photo</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Eat">
                        <figure>
                            <img src="assets/img/icons/eat.svg" alt="" id="activity-eat" class="activity-icon">
                            <figcaption>Food</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Exercise">
                        <figure>
                            <img src="assets/img/icons/excercise.svg" alt="" id="activity-excercise"
                                 class="activity-icon">
                            <figcaption>Excercise</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Medication">
                        <figure>
                            <img src="assets/img/icons/medication.svg" alt="" id="activity-medication"
                                 class="activity-icon">
                            <figcaption>Medication</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Note">
                        <figure>
                            <img src="assets/img/icons/note.svg" alt="" id="activity-note" class="activity-icon">
                            <figcaption>Note</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Potty">
                        <figure>
                            <img src="assets/img/icons/potty.svg" alt="" id="activity-potty" class="activity-icon">
                            <figcaption>Potty</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="col-xs-4 text-center">
                    <a href="/selectactivity/Incident">
                        <figure>
                            <img src="assets/img/icons/incident.svg" alt="" id="activity-incident"
                                 class="activity-icon">
                            <figcaption>Incident</figcaption>
                        </figure>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>