<div id="container">
    <div id="main">
        <div class="row">

            {{! {{> iOSstatusbar }}

            <div class="header">
                <div class="container page-title-bar nostatus">
                    <a href="/logout">
                        <div class="col-xs-2 menu-ctrl icon-menu"></div>
                    </a>
                    <div class="col-xs-8 text-center page-title">
                        My Pets
                    </div>
                    <a href="/addpet">
                        <div class="col-xs-2 text-right plus-ctrl icon-plus"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-bump">
        {{#each foobar}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        <div class="container mypet-row">

                            <a class="pet-name" href="/events/{{this.pets_id}}">
                                <img src="/uploads/{{this.img_link}}" alt="" class="img-circle pet-icon">


                                <p class="pet-name pushup">{{this.pet_name}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>