<div id="container">
    <div id="main">

        <div class="row">
            {{> iOSstatusbar }}
            <div class="header">
                <div class="container page-title-bar">
                    <div class="col-xs-2 menu-ctrl icon-menu"></div>
                    <div class="col-xs-8 text-center page-title">
                        My Pets
                    </div>
                    <div class="col-xs-2 text-right plus-ctrl icon-plus"></div>
                </div>
            </div>
        </div>

        {{#each foobar}}

        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <div class="container mypet-row">
                        <img src="{{this.img_link}}">
                        <!--<p class="pet-name">{{this.pet_name}}</p>-->
                        <a class="pet-name" href="/events/{{this.pets_id}}">
                            {{this.pet_name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}


<a href="">
    <div class="footer text-center ">
        <p class="footer-text">Check in/out</p>
    </div>
</a>