<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>WAGR</title>

    <!-- ==============================================
    JS
    =============================================== -->

    <script type="text/javascript" src="assets/libs/modernizr.min.js"></script>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/8eb4ed0827.js"></script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500,700|Roboto:100,300" rel="stylesheet">
    <!--Simple Line Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <!--Local StyleSheet-->
    <link rel="stylesheet" href="assets/css/wagr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

{{{ body }}}

<!--jQuery-->
<script src="assets/js/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--Font Awesome-->
<script src="https://use.fontawesome.com/8eb4ed0827.js"></script>
<!--Local JS-->
<script src="assets/js/app.js"></script>

<!-- ==============================================
SCRIPTS
=============================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="assets/libs/bootstrap.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/twitterFetcher_min.js"></script>
<script src="assets/js/jquery.flexslider.min.js"></script>
<script src="assets/js/contact.js"></script>
<script src="assets/js/scripts.js"></script>



</body>
</html>
